/* Footer component */
.footer {
  height: 891;
  background: #000000;
}

.footer-red-border {
  background: #ED1D25;
  width: 100%;
  height: 48px;
}

.pay-options-container {
  width: 100%;
  height: 195;
  border-bottom: 1px solid #FFFFFF;
}

.pay-options {
  height: 38.19px;
  gap: 50px;
}

.pay-options-img {
  cursor: pointer;
}

.quick-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 300px;
  margin: 24px;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 425px;
  height: 300px;
  gap: 20px;
}

.about-info-logo {
  width: 160px;
  height: 45px;
}

.about-info-socials {
  width: 264px;
  height: 40px;
}

.links-container {
  display: flex;
  width: 596px;
  gap: 120px;
}

.links-header {
  font-family: 'Urbanist';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-wrap: nowrap;
  height: 24px;
  margin-bottom: 20px;
}

li {
  cursor: pointer;
}

ul {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-warning {
  line-height: 150%;
  text-align: center;
  color: #FFFFFF99;
  width: 80%;
  gap: 24px;
  border-top: 1px solid #FFFFFF;
  padding: 48px;
}

.footer-warning-text, .footer-copyright, .about-text, li {
  font-family: 'Urbanist';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer-copyright {
  border-top: 1px solid #FFFFFF;
  width: 100%;
  padding: 24px;
  gap: 2px;
}