.homepage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
}

.start-section {
  background: linear-gradient(102.87deg, #320002 -27.78%, #900006 2.52%);
}

.start-title {
  font-family: var(--font-gilroy-bold);
  font-weight: 400;
  font-size: 70px;
  line-height: 102%;
  letter-spacing: -3%;
}

.start-description {
  font-family: 'Urbanist';
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 120%;
}

.start-button-main, .start-button {
  text-wrap: nowrap;
  padding-top: 14px;
  padding-right: 34px;
  padding-bottom: 14px;
  padding-left: 34px;
  border-radius: 55px;
  cursor: pointer;
}

.start-button-main {
  width: 164;
  height: 53;
  background-color: #FFFFFF;
}

.start-button {
  width: 200px;
  height: 53px;
  border: 2px solid #FFFFFF
}

/* Access section */
.access-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 847px;
  background-blend-mode: overlay;
  background: linear-gradient(139deg, #110001 35.63%, #3B0000 127.07%);
  padding: 50px;
}

.access-title {
  width: 30%;
  font-family: var(--font-gilroy-bold);
  font-size: 62px;
  text-align: center;
}

.access-title-description {
  width: 30%;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  margin: 16px;
}

.access-button-container {
  display: flex;
  justify-content: center;
  gap: 41px;
  height: 56px;
  margin: 24px;
}

.access-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Urbanist';
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
  width: 187px;
  height: 56px;
  padding: 0 34px;
  border-radius: 55px;
  box-shadow: 0px 4px 30px 0px #FF000073, 0px 4px 20px 0px #00000040 inset;
  background: linear-gradient(90deg, #800800 0%, #9B0C11 100%);
  color: #FFFFFF;
  overflow: hidden;
  background-clip: padding-box;
  cursor: pointer;
  border: none;
}

.access-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 55px;
  padding: 2px;
  background: linear-gradient(90deg, #FF787D 0%, #ED1D25 100%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 0;
}

.access-button > * {
  position: relative;
  z-index: 1;
}

.access-cards-container {  
  margin-bottom: 24px;
  gap: 24px;
}

/* Overlay container for splash images */
.splash-overlay-container {
  position: relative;
  width: 100vw;
  height: 1045px;
}

.splash-overlay-container .splash-image {
  position: absolute;
  top: 0;
  width: 100vw;
}

.splash-overlay-container .splash-image-overlay {
  position: absolute;
  top: 800px;
  width: 100vw;
}

/* Splash section */
.splash-image {
 background: linear-gradient(102.87deg, #320002 -27.78%, #900006 2.52%);
 width: 100vw;
}

.splash-image-overlay {
  position: relative;
  bottom: 150px;
  width: 100vw;
}

/* Second section */
.section-image {
  width: 100vw;
}

.info-section {
  background: #FFFFFF;
  height: 2360;
  justify-content: space-around;
}

.info-header {
  display: flex;
}

.info-text-container {
  display: flex;
  flex-direction: column;
}

.info-title {
  color: #000000;
  font-family: var(--font-gilroy-bold);
  font-weight: 400;
  font-size: 62px;
  line-height: 97%;
}

.info-description {
  color: #232323;
  font-family: 'Urbanist';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.info-button-main {
  font-family: 'Urbanist';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #ED1D25;
  width: 164;
  height: 53;
  top: 1231px;
  left: 518px;
  padding-top: 14px;
  padding-right: 34px;
  padding-bottom: 14px;
  padding-left: 34px;
  border-radius: 55px;
  cursor: pointer;
}

.info-button {
  font-family: 'Urbanist';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #151515;
  text-wrap: nowrap;
  width: 200;
  height: 53;
  top: 355px;
  left: 991px;
  border-width: 2px;
  padding-top: 14px;
  padding-right: 34px;
  padding-bottom: 14px;
  padding-left: 34px;
  border-radius: 55px;
  border: 2px solid var(--Premier-Primary, #ED1D25);
  cursor: pointer;
}

/* Empower section */
.empower-section {
  background: #111111;
  height: 987;
}

/* Seamless Withdrawals section */
.seamless-withdrawals-section {
  background: #FFFFFF;
  height: 991px;
  gap: 50px;
}

.seamless-wthdrawals-header {
  color: #000000;
}

.seamless-wthdrawals-header-title {
  font-family: var(--font-gilroy-bold);
  font-size: 62px;
  line-height: 68px;
  letter-spacing: -4%;
  text-align: center;
}

.seamless-withdrawals-info-container {
  display: flex;
  height: 504px;
  background: linear-gradient(102.54deg, #FFDFDF -11.21%, #FFFCFC 23.26%, #FFD5D6 95.34%);
  border-radius: 20px;
}

.seamless-withdrawals-options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 361px;
  padding: 50px;
}

.seamless-withdrawals-option-container {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 24px;
  width: 414;
  height: 118;
  border-radius: 20px;
  cursor: pointer;
}

.seamless-withdrawals-option-container:hover {
  background-color: #FFFFFFB2;
}

.seamless-withdrawals-text-container {
  color: #151515;
}

.seamless-withdrawals-text-title {
  font-family: var(--font-gilroy-bold);
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}

.seamless-withdrawals-text-description {
  font-family: 'Urbanist';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 125%;
}

.seamless-withdrawals-image {
  margin-left: 50px;
}

.seamless-withdrawals-icon {
  margin-bottom: 30px;
}

/* Daily Updates section */
.daily-updates-section {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFF7F7 43.1%, #FFFFFF 77.95%);
  height: 991;
  gap: 36px;
}

.daily-updates-header {
  gap: 175px;
}

.daily-news-updates-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75vw;
}

.daily-updates-header-title, .seamless-wthdrawals-header-subtitle {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 18px;
  line-height: 26.5px;
  color: #FF0000;
}

.daily-updates-header-title {
  padding-left: 10px;
}

.daily-updates-header-text {
  font-family: var(--font-gilroy-bold);
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -1%;
  color: #000000;
}

.daily-updates-view-all {
  color: #FF0000;
  cursor: pointer;
}

.daily-updates-cards-container {
  gap: 45px;
  margin-top: 32px;
}

.daily-updates-news {
  width: 276px;
  height: 455px;
  box-shadow: 0px 2.77px 2.21px 0px #00000005;
  box-shadow: 0px 6.65px 5.32px 0px #00000007;
  box-shadow: 0px 12.52px 10.02px 0px #00000009;
  box-shadow: 0px 22.34px 17.87px 0px #0000000B;
  box-shadow: 0px 41.78px 33.42px 0px #0000000D;
  box-shadow: 0px 100px 80px 0px #00000012;
}

.daily-updates-news-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.daily-updates-news-content {
  display: flex;
  flex-direction: column;
  width: 277px;
  height: 261px;
  gap: 15px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.daily-updates-news-date {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: 'semi-bold';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #BDBDBD;
}

.daily-updates-news-title {
  font-family: var(--font-gilroy-bold);
  font-size: 16px;
  line-height: 18px;
  color: #252B42;
}

.daily-updates-news-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
}

.daily-updates-news-read-more {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ED1D25;
  cursor: pointer;
}

.daily-updates-video {
  width: 877;
  height: 455;
  top: 221px;
  left: 443px;
  border-width: 1px;
  border-radius: 36px;
  box-shadow: 0px 2.77px 2.21px 0px #00000005;
  box-shadow: 0px 6.65px 5.32px 0px #00000007;
  box-shadow: 0px 12.52px 10.02px 0px #00000009;
  box-shadow: 0px 22.34px 17.87px 0px #0000000B;
  box-shadow: 0px 41.78px 33.42px 0px #0000000D;
  box-shadow: 0px 100px 80px 0px #00000012;
}

.daily-updates-banner-container {
  border-radius: 20px;
  box-shadow: 0px 2.77px 2.21px 0px #00000005;
  box-shadow: 0px 6.65px 5.32px 0px #00000007;
  box-shadow: 0px 12.52px 10.02px 0px #00000009;
  box-shadow: 0px 22.34px 17.87px 0px #0000000B;
  box-shadow: 0px 41.78px 33.42px 0px #0000000D;
  box-shadow: 0px 20px 80px 0px #00000012;
}

.daily-updates-banner-img {
  border-radius: 20px;
}

/* Testimonials section */
.testimonials-section {
  background: #FFFFFF;
  padding-bottom: 100px;
}

.testimonials {
  gap: 16px;
  margin: 40px;
}

.testimonials-header {
  width: 500px;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  gap: 16px;
}

.testimonials-header-text {
  font-family: var(--font-gilroy-bold);
}

.testimonials-subtext {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #A8A6B1
}

.testimonials-scroll {
  display: flex;
  justify-content: center;
  width: 1248.81005859375px;
  gap: 16px;
}

.testimonials-scroll-button {
  background: #F0F2F5;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  cursor: pointer;
}

.testimonials-card-container {
  gap: 30px;
}

.register-fund-start-trading {
  background: linear-gradient(90deg, #BE050D 0%, #580000 100%);
  width: 1200px;
  height: 371px;
  border-radius: 32px;
  margin-top: 24px;
  margin-bottom: 80px;
}