
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.urbanist-400 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

/* Overlay container for splash images */
.splash-overlay-container {
  position: relative;
  width: 100%;
  height: 1045px;
}

.splash-overlay-container .splash-image {
  position: absolute;
  top: 0;
  width: 100vw;
}

.splash-overlay-container .splash-image-overlay {
  position: absolute;
  top: 800px;
  width: 100vw;
}

/* Header container */
.header {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 12px 0px #45000033;
  height: 130px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0px 20px;
}

.title, .header-text {
  display: flex;
  align-items: center;
  gap: 10px
}

.dark-text {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 14px;
  line-height: 19.98px;
  color: #000000;
}

.separator {
  color: #D6D6D6;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-top: 1px solid #C9C9C9
}

.nav-bar {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  display: flex;
  gap: 32px;
  color: #010205;
}

.register-login {
  display: flex;
  align-items: center;
  gap: 16px;
}

.register-button {
  background: #ED1D25;
  border-radius: 20px;
  padding: 10px 24px;
  width: 101px;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}


/* Splash section */
.splash-image {
 background: linear-gradient(102.87deg, #320002 -27.78%, #900006 2.52%);
 width: 100vw;
}

.splash-image-overlay {
  position: relative;
  bottom: 150px;
  width: 100vw;
}

/* Second section */
.section-image {
  width: 100vw;
}

.info-section {
  background: #FFFFFF;
  width: 100vw;
  height: 2360;
}

.empower-section {
  background: #111111;
  width: 100vw;
  height: 987;
}

.seamless-withdrawals-section {
  background: #FFFFFF;
  width: 100vw;
  height: 991;
}

/* Footer component */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 891;
  background: #000000;
}

.red-border {
  background: #ED1D25;
  width: 100vw;
  height: 48px;
}

.pay-options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 195;
  border-bottom: 1px solid #FFFFFF;
}

.quick-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 300px;
  margin: 24px;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 425px;
  height: 300px;
  gap: 20px;
}

.about-info-logo {
  width: 160px;
  height: 45px;
}

.about-info-socials {
  width: 264px;
  height: 40px;
}

.links-container {
  display: flex;
  width: 596px;
  gap: 120px;
}

.links-header {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 18px;
  line-height: 24px;
  text-wrap: nowrap;
}

li, .about-text {
  opacity: 60%;
}

.footer-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF99;
  width: 80vw;
  gap: 24px;
  border-top: 1px solid #FFFFFF;
  padding: 48px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #FFFFFF;
  width: 100vw;
  padding: 24px;
  gap: 2px;
  opacity: 0.7;
}